<% title "Horse Mania 2010", false %>

<div id="main">
	<h2>Horses by photo</h2>
	<div class="pagination"><span class="disabled prev_page">&laquo; Previous</span> <span class="current">1</span> <a href="/tasks?page=2" rel="next">2</a> <a href="/tasks?page=3">3</a> <a href="/tasks?page=2" class="next_page" rel="next">Next &raquo;</a></div> 
	<ul id="photos">
		<li class="photo group">
			<div class="photo-wrapper">
				<a href="#"><img src="http://media.kentucky.com/smedia/2010/07/09/11/2010HM38LadyGodiva_150.standalone.prod_affiliate.79.jpg" /></a>
			</div>
			<div class="info">
				<h3 class="horse-name">Nightmare</h3>
				<div class="meta">
					<span class="upload-photo"><a href="#">Upload</a></span>
					<span class="see-photos"><a href="#">see all photos</a></span>
				</div>
			</div>
		</li>		
		<li class="photo group">
			<div class="photo-wrapper">
				<a href="#"><img src="http://media.kentucky.com/smedia/2010/07/09/11/2010HM38LadyGodiva_150.standalone.prod_affiliate.79.jpg" /></a>
			</div>
			<div class="info">
				<h3 class="horse-name">Nightmare</h3>
				<div class="meta">
					<span class="upload-photo"><a href="#">Upload</a></span>
					<span class="see-photos"><a href="#">see all photos</a></span>
				</div>
			</div>
		</li>		
		<li class="photo group">
			<div class="photo-wrapper">
				<a href="#"><img src="http://media.kentucky.com/smedia/2010/07/09/11/2010HM38LadyGodiva_150.standalone.prod_affiliate.79.jpg" /></a>
			</div>
			<div class="info">
				<h3 class="horse-name">Nightmare</h3>
				<div class="meta">
					<span class="upload-photo"><a href="#">Upload</a></span>
					<span class="see-photos"><a href="#">see all photos</a></span>
				</div>
			</div>
		</li>		
		<li class="photo group">
			<div class="photo-wrapper">
				<a href="#"><img src="http://media.kentucky.com/smedia/2010/07/09/11/2010HM38LadyGodiva_150.standalone.prod_affiliate.79.jpg" /></a>
			</div>
			<div class="info">
				<h3 class="horse-name">Nightmare</h3>
				<div class="meta">
					<span class="upload-photo"><a href="#">Upload</a></span>
					<span class="see-photos"><a href="#">see all photos</a></span>
				</div>
			</div>
		</li>		
		<li class="photo group">
			<div class="photo-wrapper">
				<a href="#"><img src="http://media.kentucky.com/smedia/2010/07/09/11/2010HM38LadyGodiva_150.standalone.prod_affiliate.79.jpg" /></a>
			</div>
			<div class="info">
				<h3 class="horse-name">Nightmare</h3>
				<div class="meta">
					<span class="upload-photo"><a href="#">Upload</a></span>
					<span class="see-photos"><a href="#">see all photos</a></span>
				</div>
			</div>
		</li>		
		<li class="photo group">
			<div class="photo-wrapper">
				<a href="#"><img src="http://media.kentucky.com/smedia/2010/07/09/11/2010HM38LadyGodiva_150.standalone.prod_affiliate.79.jpg" /></a>
			</div>
			<div class="info">
				<h3 class="horse-name">Nightmare</h3>
				<div class="meta">
					<span class="upload-photo"><a href="#">Upload</a></span>
					<span class="see-photos"><a href="#">see all photos</a></span>
				</div>
			</div>
		</li>		
	</ol>	
</div>

<% content_for :head do %>
	<link href="/stylesheets/index.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/stylesheets/horses.css" rel="stylesheet" type="text/css" media="screen" />
<% end %>