<div id="footer">
	<div id="footer-inner">
		<div id="credits">
			A collaboration by some <a href="/">dudes</a>
		</div>
		<ul id="links">
			<li><a href="/">home</a></li>
			<li><a href="/photos">photos</a></li>
			<li><a href="#">upload</a></li>
		</ul>
	</div>
</div>