<div id="header">
	<div id="header-inner">
		<div id="logo">
			<a href="/maps">horsemania</a>
		</div>
		<ul id="nav">
			<li><a href="/maps">home</a></li>
			<li><a href="/maps/photos">photos</a></li>
			<li class="action-button"><a href="#">upload</a></li>
		</ul>
	</div>
</div>