Hi, <%= @user.username %>!

<ol>
  <% for photo in @user.photos %>
    <li>
      <%= image_tag photo.upload.url(:tiny) %>
      <% if logged_in? %>
        <%= link_to "Edit", edit_photo_path(photo) %> |
        <%= link_to "Destroy", photo, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </li>
  <% end %>
</ol>
